body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: url(images/carnival2.jpg);
	background-size: cover;	
	overflow: hidden;
}
.box {
	position: absolute;
	top: 50%;
	left: 75%;
	transform: translate(-50%,-50%);
	width: 400px;
	padding: 40px;
	background: rgba(0,0,0,.8);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0,0,0,.5);
	border-radius: 10px;
	
	border: 2px solid rgba(0,0,0,.5);
}

h3 {
	color: #fff;
	font-family:sans-serif;
	font-size: 16px;
	letter-spacing: 1px;
	pointer-events: none;
 	padding: 2px;
	margin-top: 0px;
}
select {
	width: 100%;
    padding: 6px;
    border: 1px solid #ccc;
	letter-spacing: 1px;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 0px;
	margin-bottom: 16px;
    resize: vertical;
}
.box h2 {
	margin: 0 0 30px;
	padding: 0;
	color: #fff;
	text-align: center;
}
.box .inputBox {
	position: relative;
}
.box .inputBox input {
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	letter-spacing: 1px;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid #fff;
	outline: none;
	background: transparent;
}
.box .inputBox label {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	letter-spacing: 1px;
	pointer-events: none;
	transition: .5s;
}
.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label {
	top: -18px;
	left: 0;
	color: #03a9f4;
	font-size: 12px;
}
.box input[type="submit"]{
	background: transparent;
	border: none;
	outline: none;
	color: #fff;
	background: #03a9f4;
	padding: 10px 20px;
	margin-left: 50%;
	margin-top: 40px;
	cursor: pointer;
	left: 50%;
	transform: translate(-50%,-50%);
	text-transform: uppercase;
	text-decoration: none;
	font-family: monospace;
	box-sizing: border-box;
	background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
	background-size: 400px;
	border-radius: 30px;
}
input[type="submit"]:hover {
		animation: animate2 8s linear infinite;
	}
	@keyframes animate2{
		0% {
			background-position: 0%;
		}
		100% {
			background-position: 400%;
		}
	}
	input[type="submit"]:before {
		content: '';
		position: absolute;
		top: -5px;
		left: -5px;
		right: -5px;
		bottom: -5px;
		z-index: -1;
		background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
		background-size: 400px;
		border-radius: 40px;
		opacity: 0;
		transition: .5s;
	}
	input[type="submit"]:hover:before {
		filter: blur(10px);
		opacity: 1;
		animation: animate2 8s linear infinite;
	}
	
ul {
		position: absolute;
		top: 5%;
		left: 5%;
		transform: translate(-50%,-50%);
		/*margin: 0;
		padding: 0;*/
		/*margin-top: auto;
		padding-top: 50px;*/
		margin-left: 250px;
		display: flex;
		text-align: center;
	}
	ul li {
		list-style: none;
		font-family: sans-serif;
		font-size: 3em;
		letter-spacing: 15px;
		color: #484848;
		text-shadow: none;
		animation: animate 1s infinite linear;
	}
	@keyframes animate
	{
		0%
		{
			color: #484848;
			text-shadow: none;
		}
		18%
		{
			color: #484848;
			text-shadow: none;
		}
		20%
		{
			color: #fff900;
			text-shadow: 0 0 7px #fff900 , 0 0 20px #ff6c00;
			
		}
		30%
		{
			color: #484848;
			text-shadow: none;
		}
		35%
		{
			color: #fff900;
			text-shadow: 0 0 7px #fff900 , 0 0 20px #ff6c00;
		}
		70%
		{
			color: #484848;
			text-shadow: none;
		}
		85%
		{
			color: #fff900;
			text-shadow: 0 0 7px #fff900 , 0 0 20px #ff6c00;
		}
		90%
		{
			color: #484848;
			text-shadow: none;
		}
		100%
		{
			color: #484848;
			text-shadow: none;
		}	
	}
	ul li:nth-child(1)
	{
		animation-delay: 0.2s;
	}
	ul li:nth-child(2)
	{
		animation-delay: 0.4s;
	}
	ul li:nth-child(3)
	{
		animation-delay: 0.6s;
	}
	ul li:nth-child(4)
	{
		animation-delay: 0.8s;
	}
	ul li:nth-child(5)
	{
		animation-delay: 1s;
	}
	ul li:nth-child(6)
	{
		animation-delay: 1.2s;
	}
	ul li:nth-child(7)
	{
		animation-delay: 1.4s;
	}
	ul li:nth-child(8)
	{
		animation-delay: 1.6s;
	}
	ul li:nth-child(9)
	{
		animation-delay: 1.8s;
	}
	ul li:nth-child(10)
	{
		animation-delay: 2s;
	}
	ul li:nth-child(11)
	{
		animation-delay: 2.2s;
	}
	ul li:nth-child(12)
	{
		animation-delay: 2.4s;
	}
	ul li:nth-child(13)
	{
		animation-delay: 2.6s;
	}
	ul li:nth-child(14)
	{
		animation-delay: 2.8s;
	}

	